/* .row:nth-child(3) {
    border: 1px solid red !important;
} */

.card:nth-child(1) {
    height: 200px;
    border: 2px dotted purple!important;
}

.card:nth-child(2) {
    height: 200px;
    border: 2px dotted teal!important;
}

select {
    width: 300px!important;
}

p {
    padding: 0!important;
    margin: 0!important;
}

button {
    border-color: black!important;
    color: black!important;
    background-color: #efefef!important;
}